

<html>

  <head><title>Our Site</title></head>

  <link rel="stylesheet" type ="text/css" href="../css/main.css" >

  <body>
    <nav>
      <ul>
        <li><a>LINK!</a></li>
        <li><a>LINK!</a></li>
        <li><a>LINK!</a></li>
        <li><a>LINK!</a></li>
    <%= html_body %>
    <div class="footer">COPYRITE</div>
  </body>

</html>
